<div class="container">
	<h1>View Product by Category</h1>
	<br> <br> <a href="#" routerLink="/post/index"
		class="btn btn-primary">Back</a> <br> <br> <br>
	<div>
		<select (change)="getCategoryData($event.target.value)">
			<option value="default">Choose a Category</option>
			<option *ngFor="let category of categoryList" [value]="category">
				{{category}}</option>
		</select>
	</div>
	<br> <br>
	<div class="container" *ngIf="productResultList">
		<table class="table table-bordered">
			<tr>
				<th>ID</th>
				<th>Name</th>
				<th>Category</th>
				<th width="220px">Description</th>
				<th>Units</th>
			</tr>
			<tr *ngFor="let product of productResultList">
				<td>{{ product.productId }}</td>
				<td>{{ product.name }}</td>
				<td>{{ product.category }}</td>
				<td>{{ product.description }}</td>
				<td>{{ product.units }}</td>
			</tr>
		</table>
	</div>
</div>
