<div class="container">
	<h1>View Product</h1>

	<a href="#" routerLink="/post/index" class="btn btn-primary">Back</a>

	<div>
		<strong>ID:</strong>
		<p>{{ product?.productId }}</p>
	</div>

	<div>
		<strong>Product Name:</strong>
		<p>{{ product?.name }}</p>
	</div>

	<div>
		<strong>Category:</strong>
		<p>{{ product?.category }}</p>
	</div>

	<div>
		<strong>Description:</strong>
		<p>{{ product?.description }}</p>
	</div>

	<div>
		<strong>Units:</strong>
		<p>{{ product?.units }}</p>
	</div>
</div>